// Customization
$primary: hsl(171, 100%, 41%);
$navbar-item-hover-background-color: hsl(0, 0%, 0%, 0%);
$navbar-item-hover-color: #000;
$link: $primary;
// Bulma Import
.tag {
  vertical-align: top!important;
}
@import '~bulma';
.link {
  text-decoration: underline;
  color: $text;
}
html, body {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
