// Customization
$navbar-item-hover-background-color: hsl(0%, 0%, 0%, 0);
$navbar-item-hover-color: #000;
// Bulma Import
@import '~bulma';
.link {
  text-decoration: underline;
}
html, body {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}